* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #2e4156;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-container {
    background-color:#c0c8ca;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px #d4d8dd;
    width: 320px;
    height: 520px;
}

.login-container h2 {
    margin-top: 5px;
    text-align: center;
    margin-bottom: 5px;
    color: #2e4156;
}

.container {
display: flex;
align-items: center; /* Alinha os itens verticalmente ao centro */
margin-bottom: 10px;
margin-top: 5px;
}

.imagem {
width: 60px; /* Ajuste o tamanho da imagem conforme necessário */
height: auto;
margin-right: 20px; /* Espaço entre a imagem e os textos */
border-radius: 100%;

}

.texto1 {
margin: 1px 0; /* Espaçamento entre os textos */
font-size: 16px;
text-align: left;
}

.texto2 {
    margin: 1px 0; /* Espaçamento entre os textos */
    font-size: 20px;
    text-align: left;
    color: #2e4156;
    
}

.baner iframe {
background-image: url('caminho/para/sua/imagem.jpg');
background-size: cover; /* Ajusta a imagem para cobrir todo o fundo */
background-repeat: no-repeat; /* Evita que a imagem se repita */
background-position: center; /* Centraliza a imagem no fundo */

height: 60px;
border-radius: 12px;
box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);

margin-top: 3px;
margin-bottom: 3px;
}

.form-group {
margin-bottom: 20px;
}

label {
display: block;
font-weight: bold;
margin-bottom: 6px;
color: #555;
}

p {
margin-top: 2px;
font-size: 12px;
color: #555;
text-align: left;
}


.menu-opcoes {
    display: flex;
    flex-direction: column;
    
    display: flex;
    align-items: center; /* Alinha os itens verticalmente ao centro */
    margin-bottom: 10px;
    margin-top: 5px;
    
}

.menu{
    display: flex;
    margin-top: 5px;
    background-color: #FAF5EE;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);            
    width: 100%;
    align-items: center;
}

.menu-img {
    padding: 2px;
    margin: 2px;
    width: 70px; /* Ajuste o tamanho da imagem conforme necessário */
    border-radius: 10px;
    margin-right: 5px;

}

a {
    text-decoration: none;
    
}


.menu-texto {
    font-size: 18px;
    text-align: center;
    color: #2e4156;
    
}



.footer-text {
margin-top: 20px;
font-size: 12px;
color: #555;
text-align: center;
}


.menu-container {
    display: flex;
    align-items: center; /* Alinha os itens verticalmente ao centro */
    margin-bottom: 10px;
    
}